* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'inter', sans-serif;
}

li {
  list-style: none;
}

a {
  color: rgb(255, 255, 255, 1);
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  width: 100%;
  color: rgba(106, 118, 120, 1);
  line-height: 45px;
}

p {
  width: 100%;
  padding-top: 24px;
  font-weight: 400;
  font-size: 18px;  
  line-height: 27px;
  color: #8E989A;
}

